.side_bar
  .side_bar_user_name
    .side_bar_user_name__box
      %h3.left_box
        = current_user.name
      .rihgt_box
        %ul.btn
          %li.left__btn
          = link_to new_group_path(current_user)  do
            = icon('far', 'edit', class: "left__btn--icon")
          %li.right__btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "right__btn--icon")
  .side_bar_group-list
    - current_user.groups.each do |group|
      .side_bar_group-list__box
        = link_to group_messages_path(group) do
          .group_name
            = group.name
          .group_message
            = group.show_last_message

